
@import '../chooser/chooser.component.less';

::ng-deep .popover { //NOTE = (show this without ::ng-deep) gotta use ::ng-deep or we have to put this at the styles.less level
  margin-top: -5px !important;

  //NOTE = show in the inspector how the only way to avoid an !important is to use "&.bs-popover-left-top .arrow"
  // change the trigger to click and remove the undoEnroll call
  .arrow {
    top: 15px !important;
  }
}

.card {
  height: 115px;

  .fas {
    margin-right: 5px;
  }
}
