<!--<pre>{{schools | json}}</pre>-->

<div *ngFor="let school of schools | sort: 'name'" class="card m-3 d-inline-block"
     (click)="selectSchool(school)" [ngClass]="{'card-selected': school.isSelected}">

  <div class="card-body">
    <div class="card-title">
      {{buildSchoolName(school)}}
    </div>

    <a class="btn btn-primary" [href]="school.web_pages[0]" target="_blank" (click)="$event.stopPropagation()">
      <i class="fas fa-school"></i>
      {{buildSchoolLinkDisplay(school)}}
    </a>

    <div *ngIf="getStudentCount(school)" class="btn btn-danger ml-3"
         (click)="undoEnroll(school); $event.stopPropagation()"
         [ngbPopover]="enrolledView" placement="left-top" triggers="mouseenter:mouseleave"
         popoverClass="shadow">
      <!-- NOTE = place on left side first and put arrow on top  -->
      <i class="fas fa-sign-out-alt"></i>
      {{getStudentCount(school)}}

      <ng-template #enrolledView>
        <div *ngFor="let student of getEnrolledStudents(school) | sort: 'sortName'">
          {{student.name.first + ' ' + student.name.last}}
        </div>
      </ng-template>
    </div>

  </div>

</div>
