
@import '../chooser/chooser.component.less';

.card {
  &.gone {
    display: none !important;
  }

  .btn-student-info {
    top: 0;
    left: 0;
    padding: 2px 5px;
    position: absolute;
  }

  .card-title {
    font-weight: bold;
  }

  .card-text {
    font-style: italic;
  }
}
