<!--<pre>{{students | json}}</pre>-->

<ng-container *ngFor="let student of students | sort: 'sortName'">
  <div class="card m-3 d-inline-block fade"
       (click)="student.isSelected = !student.isSelected"
       [ngClass]="{
         'card-selected': student.isSelected,
         'hide': student.isEnrolled,
         'show': !student.isEnrolled,
         'gone': student.isHidden
       }">

    <div class="card-body">

      <div class="btn btn-info btn-student-info"
           routerLink="{{'/student/' + student.login.uuid}}"
           (click)="$event.stopPropagation()">
        <i class="fas fa-user"></i>
      </div>

      <!-- PIC -->
      <img [src]="student.picture.medium" alt="Student Picture" class="w-25 float-right">

      <!-- NAME -->
      <div class="card-title">
        {{buildNameLine(student)}}
      </div>

      <!-- ADDRESS -->
      <div class="card-text">
        {{buildAddressLine(student)}}
      </div>

    </div>

  </div>
</ng-container>
