<div class="container text-center">

  <div class="row">
    <div class="col">
      <button class="btn btn-success enroll-btn m-5"
              [disabled]="!hasValidSelection()"
              (click)="enroll()">{{buildEnrollButtonDisplay()}}</button>
    </div>
  </div>

  <div class="row">

    <!-- SCHOOL CARDS -->
    <div class="col col-content rounded">
      <school-chooser></school-chooser>
    </div>

    <div class="col-1"></div>

    <!-- STUDENT CARDS -->
    <div class="col col-content rounded">
      <student-chooser></student-chooser>
    </div>

  </div>

</div>
