@import '../../../assets/styles/variables.less';

.enroll-btn {
  width: 165px;
}

.col-content {
  height: 600px;
  overflow: auto;
  background: white;
}

.card {
  width: 325px;
  cursor: default;
  user-select: none;
  background: @background-gray;
  border: 3px solid transparent;

  &.card-selected {
    border-color: black;
  }
}
