@import './assets/styles/variables.less';

body {
  background: @background-gray;
}

pre {
  user-select: all;
  width: 450px;
  height: 250px;
  text-align: left;
  overflow: auto;
  background: #EEE;
  padding: 7px 10px;
  border: 2px solid lightgray;
}
