<!--<pre>{{student | json}}</pre>-->

<div class="container mt-4">

  <div class="row mb-3">
    <div class="col p-0">
      <a class="btn btn-outline-info" routerLink="/">
        <i class="fas fa-backward"></i> Back
      </a>
    </div>
  </div>

  <div class="row rounded student-row">

    <div class="col-4 p-3">
      <img [src]="student.picture.large" alt="Student Profile Picture" />
    </div>

    <div class="col p-5">
      <div class="student-name">{{buildName()}}</div>
      <div>{{buildAddress()}}</div>
      <div>{{buildLocation()}}</div>

      <div class="mt-3">
        <div class="student-email">{{student.email}}</div>
        <div>{{student.phone}}</div>
        <div>DOB: {{student.dob.date | date}}</div>
      </div>
    </div>

  </div>
</div>
