
.student-row {
  background: white;

  img {
    width: 300px;
  }

  .student-name {
    .heading(700);
  }

  .student-email {
    .heading(600);
  }
}

.heading(@weight) {
  font-weight: @weight;
  color: dimgray;
  text-decoration: underline;
}
